@model Shingle
<td>@Model.ID</td>
<td align="center">@Enum.GetName(typeof(SyndicateLogic.ShingleKind), Model.kind)</td>
<td>@Model.tokens</td>
<td><a asp-action="ShingleDetail" asp-route-ShingleID="@Model.ID">@Model.text</a></td>
<td>@Model.language</td>
