@model TradeTip
<div class="col-lg-1">@Model.ArticleID</div>
<div class="col-lg-2">@Model.Published</div>
<div class="col-lg-1">@Model.Score</div>
<div class="col-lg-1">@Model.Ticker</div>
<div class="col-lg-6">@Model.Title</div>
<div class="col-lg-1"><a href="@Model.Link">Link</a></div>
