@model PaginatedList<Article>
@{
    ViewData["Title"] = "Latest articles";
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div class="container-fluid">
    <div class="row ">
        <h1 class="text-center">Latest articles <span class="showopacity glyphicon glyphicon-file" /></h1>
    </div>
    <form asp-action="ArticleList" method="get">
        <div class="btn-group" role="group">
            <a asp-action="ArticleList"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-page="@(Model.PageIndex - 1)"
               asp-route-lang="@ViewData["lang"]"
               asp-route-ticker="@ViewData["ticker"]"
               class="btn btn-sm btn-info @prevDisabled"
               role="group">
                Prev<div><span class="glyphicon glyphicon-chevron-left" aria-hidden="true" /></div>
            </a>
            <a class="btn btn-sm btn-info disabled" role="group"><div>Page</div>@Model.PageIndex</a>
            <a asp-action="ArticleList"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-page="@(Model.PageIndex + 1)"
               asp-route-lang="@ViewData["lang"]"
               asp-route-ticker="@ViewData["ticker"]"
               class="btn btn-sm btn-info @nextDisabled"
               role="group">
                Next
                <div><span class="glyphicon glyphicon-chevron-right" aria-hidden="true" /></div>
            </a>
        </div>
        Filter: <input type="text" name="ticker" value="@ViewData["ticker"]" placeholder="ticker…" />
        <input type="text" name="lang" value="@ViewData["lang"]" placeholder="language…" />
        <input type="submit" value="Filter" class="btn btn-info" />
        <a asp-action="ArticleList" class="btn btn-info">Clear</a>
        <div class="row">
            <div class="col-lg-1">
                <a asp-route-sortOrder="@ViewBag.ReceivedSortParm">
                    <strong>Received</strong>
                </a>
            </div>
            <div class="col-lg-1">
                <a asp-route-sortOrder="@ViewBag.PublishedSortParm">
                    <strong>Published</strong>
                </a>
            </div>
            <div class="col-lg-1"><strong>Score</strong></div>
            <div class="col-lg-1"><strong>Language</strong></div>
            <div class="col-lg-1"><strong>Ticker</strong></div>
            <div class="col-lg-7"><strong>Title</strong></div>
        </div>
    </form>
    @foreach (var a in Model)
    {
        @Html.Partial("_ArticleLine", a)
    }
</div>
