@model CompanyViewModel
@{
    ViewData["Title"] = Model.Detail.ticker + " " + Model.Detail.legal_name;
}
<div class="container-fluid">
    <div class="row">
        <h1 class="text-center">@Model.Detail.name</h1>
    </div>
    <div class="row">
        <div class="col-lg-2 text-warning text-right">Ticker:</div>
        <div class="col-lg-2"><strong>@Model.Detail.ticker</strong></div>
        <div class="col-lg-1 text-warning text-right">Name:</div>
        <div class="col-lg-2"><strong>@Model.Detail.legal_name</strong></div>
        <div class="col-lg-2 text-warning text-right">Sector:</div>
        <div class="col-lg-3">@Model.Detail.sector</div>
    </div>
    <div class="row">
        <div class="col-lg-2 text-warning text-right">Stock exchange:</div>
        <div class="col-lg-2"><strong>@Model.Detail.stock_exchange</strong></div>
        <div class="col-lg-1 text-warning text-right">URL:</div>
        <div class="col-lg-2"><a href="@Model.Detail.company_url">@Model.Detail.company_url</a></div>
        <div class="col-lg-2 text-warning text-right">Industry category:</div>
        <div class="col-lg-3">@Model.Detail.industry_category</div>
    </div>
    <div class="row">
        <div class="col-lg-2 text-warning text-right">CEO:</div>
        <div class="col-lg-2">@Model.Detail.ceo</div>
        <div class="col-lg-1 text-warning text-right">Country:</div>
        <div class="col-lg-2">@Model.Detail.hq_country</div>
        <div class="col-lg-2 text-warning text-right">Industry group:</div>
        <div class="col-lg-3">@Model.Detail.industry_group</div>
    </div>
    <div class="row">
        <div class="col-lg-2 text-warning text-right">Employees:</div>
        <div class="col-lg-2">@Model.Detail.employees</div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-lg-12">@Model.Detail.long_description</div>
    </div>
</div>
