@model PaginatedList<CompanyDetail>

@{
    ViewData["Title"] = "List of companies";
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div class="container-fluid">
    <div class="row ">
        <h1 class="text-center">Companies list <span class="showopacity fa fa-industry"/></h1>
    </div>

    <form asp-action="Companies" method="get">
        <div class="btn-group" role="group">
            <a asp-action="Companies"
               asp-route-page="@(Model.PageIndex - 1)"
               asp-route-nameFilter="@ViewData["nameFilter"]"
               class="btn btn-sm btn-info @prevDisabled"
               role="group">
                Prev<div><span class="glyphicon glyphicon-chevron-left" aria-hidden="true" /></div>
            </a>
            <a class="btn btn-sm btn-info disabled" role="group"><div>Page</div>@Model.PageIndex / @Model.TotalPages</a>
            <a asp-action="Companies"
               asp-route-page="@(Model.PageIndex + 1)"
               asp-route-nameFilter="@ViewData["nameFilter"]"
               class="btn btn-sm btn-info @nextDisabled"
               role="group">
                Next
                <div><span class="glyphicon glyphicon-chevron-right" aria-hidden="true" /></div>
            </a>
        </div>
        Filter: <input type="text" name="nameFilter" value="@ViewData["nameFilter"]" placeholder="name…" />
        <input type="submit" value="Filter" class="btn btn-info" />
    </form>

    @foreach (var c in Model)
    {
        <div class="row">
            <div class="col-md-1">@c.stock_exchange</div>
            <div class="col-md-1"><a asp-action="Company" asp-route-ticker="@c.ticker"><strong>@c.ticker</strong></a></div>
            <div class="col-md-4">@c.name</div>
            <div class="col-md-2">
                @((string.IsNullOrEmpty(c.hq_country)) ? c.inc_country : c.hq_country )
            </div>
            <div class="col-md-2">@c.industry_category</div>
            <div class="col-md-2"><a href="@c.company_url">@c.company_url</a></div>
        </div>
    }
</div>