@model FeedListViewModel

@{
    ViewData["Title"] = "Feed List";
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div class="container-fluid">
    <div class="row ">
        <h1 class="text-center">Feeds List <span class="showopacity glyphicon glyphicon-volume-up" /></h1>
    </div>

    <form asp-action="FeedList" method="get">
        <div class="btn-group" role="group">
            <a asp-action="FeedList"
               asp-route-page="@(Model.PageIndex - 1)"
               asp-route-lang="@ViewData["lang"]"
               class="btn btn-sm btn-info @prevDisabled"
               role="group">
                Prev<div><span class="glyphicon glyphicon-chevron-left" aria-hidden="true" /></div>
            </a>
            <a class="btn btn-sm btn-info disabled" role="group"><div>Page</div>@Model.PageIndex / @Model.TotalPages</a>
            <a asp-action="FeedList"
               asp-route-page="@(Model.PageIndex + 1)"
               asp-route-lang="@ViewData["lang"]"
               class="btn btn-sm btn-info @nextDisabled"
               role="group">
                Next
                <div><span class="glyphicon glyphicon-chevron-right" aria-hidden="true" /></div>
            </a>
        </div>
        Filter: <input type="text" name="lang" value="@ViewData["lang"]" placeholder="lang…" />
        <input type="submit" value="Filter" class="btn btn-info" />

        <div class="btn-group" role="group">
            <a asp-action="FeedList"
               asp-route-page=1
               asp-route-active="@(ViewData["active"].ToString()=="Active shown"?"Active hidden": "Active shown")"
               asp-route-inactive="@ViewData["inactive"]"
               asp-route-lang="@ViewData["lang"]"
               class="btn btn-sm btn-success"
               role="group">@ViewData["active"]</a>
            <a asp-action="FeedList"
               asp-route-page=1
               asp-route-active="@ViewData["active"]"
               asp-route-inactive="@(ViewData["inactive"].ToString()=="Inactive shown"?"Inactive hidden": "Inactive shown")"
               asp-route-lang="@ViewData["lang"]"
               class="btn btn-sm btn-success"
               role="group">@ViewData["inactive"]</a>
        </div>

        Add new RSS feed: <input type="text" name="newFeed" value="@ViewData["newFeed"]" placeholder="URL…" />
        <input type="submit" value="NewURL" class="btn btn-info" />

    </form>

    <div class="row">
        <div class="col-md-1"><strong>Active</strong></div>
        <div class="col-md-1"><strong>ID, language</strong></div>
        <div class="col-md-3"><strong>Title</strong></div>
        <div class="col-md-4"><strong>URL</strong></div>
        <div class="col-md-1"><strong>Articles</strong></div>
        <div class="col-md-2"><strong>Last Article</strong></div>
    </div>

    @foreach (var f in Model.Feeds)
    {
        <div class="row">
            <div class="col-md-1"><span class="showopacity glyphicon @(f.FeedEntity.Active?"glyphicon-ok text-success": "glyphicon-remove text-danger")" /></div>
            <div class="col-md-1">@f.FeedEntity.ID @f.FeedEntity.Language</div>
            <div class="col-md-3"><strong>@f.FeedEntity.Title</strong></div>
            <div class="col-md-4"><a href="@f.FeedEntity.Url">@f.FeedEntity.Url</a></div>
            <div class="col-md-1">@f.articlesWithTicker / @f.articles</div>
            <div class="col-md-2">@f.FeedEntity.LastArticleReceived?.ToString("dd.MM.yyyy HH:mm")</div>
        </div>
        <div class="row">
            <div class="col-md-12">@f.FeedEntity.ErrorMessage</div>
        </div>
        <hr />
    }
</div>